* {
    margin: 0;
}

body {
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.logo {
    margin: 10px 20px;
}

.top-menu {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.header-menu ul {
    display: flex;
    list-style-type: none;
    align-items: baseline;
}

.header-menu ul li {
    padding: 15px 20px;
}

.header-menu ul li button {
    background-color: white;
    border-radius: 15px;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
}

.header-menu ul li a:hover {
    color: #fff;
}

.header-menu ul li a {
    transition: all .2s ease-in-out;
}

.banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 100px 0px;
}

.banner {
    padding: 200px;
}

.banner p {
    line-height: 100px;
    text-align: center;
}

.banner h2 {
    font-size: 100px;
}

.banner p {
    font-size: 50px;
}

.btn-blue {
    background-color: darkturquoise;
    border-radius: 100px;
    color: #fff;
    border: none;
    padding: 30px;
    font-size: 2.5vw;
    cursor: pointer;
}

.header {
    background-image: url(./img/dark_tint.png), url(./img/bokeh_car_lights_bg.jpg);
    background-position: center center;
}

.main {
    color: #444;
    text-align: center;
}

.main-header {
    margin-bottom: 50px;
}

.main-header h2 {
    font-size: 40px;
    color: #474747;
    margin-bottom: 20px;
}

.main-header p {
    font-size: 20px;
    color: #858585;
}

.main-items {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #858585;
    border-bottom: 1px solid #858585;
}

.icon :after {
    font-family: FontAwesome;
    font-style: normal;
}

.bg-green {
    background-color: #add43c;
    color: #FFFFFFFF;
    padding: 30px;
    border-radius: 1000px;
    margin-bottom: 40px;
}

.bg-blue {
    background-color: darkturquoise;
    color: #FFFFFFFF;
    padding: 30px;
    border-radius: 1000px;
    margin-bottom: 40px;
}

.bg-red {
    background-color: red;
    color: #FFFFFFFF;
    padding: 30px;
    border-radius: 1000px;
    margin-bottom: 40px;
}

.border {
    border: 1px solid #858585;
    border-radius: 15px;
}

.first-item {
    margin: 15px 20px;
    padding: 70px 0px;
}

.second-item {
    margin: 15px 20px;
    padding: 70px 0px;
}

.third-item {
    margin: 15px 20px;
    padding: 70px 0px;
}

.contact-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 0px;
    border-bottom: 1px solid #858585;
    border-top: 1px solid #858585;
}

.contact-item {
    padding: 20px 60px;
}

.contact-item i {
    float: left;
}

.header-contact h2 {
    color: #474747;
    margin-top: 40px;
    font-size: 60px;
}

.header-contact p {
    color: #858585;
    margin-top: 20px;
}

.bg-gray {
    background-color: #858585;
    border-radius: 1000px;
    padding: 15px;
    font-size: 20px;
}

.contact-item h6 {
    margin: 20px 0px;
}

.contact-item p {
    margin-top: 10px;
    font-size: 20px;
}

.contact-item i {
    display: inline-block;
}

.main-footer p {
    margin-bottom: 20px;
}

.tamas {
    text-align: center;
    background-color: darkturquoise;
    margin-top: 30px;
}

.name {
    margin: 20px 0px;
}

.name ::placeholder {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.email::placeholder {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.text::placeholder {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn {
    background-color: #474747;
    padding: 20px;
    border-radius: 30px;
    border: none;
    color: whitesmoke;
}